div(data-role='footer', data-position='fixed', data-theme='b')
  div(data-role='navbar', data-iconpos='left')
    ul		
      li
        a(href='#home', data-icon='home') Home
      li
        a(href='#about', data-icon='info') About      