div(data-role='header', data-position='fixed', data-theme='e')
  div(data-role='navbar', data-iconpos='left')
    ul		
      li
        a(href='#module', data-icon='grid') Enter
      li
        a(href='#results', data-icon='arrow-r') Results